.DS_Store
vendor
.phpunit.result.cache

# Tests

tests/**/code.tar.gz

# Node
tests/**/node_modules
tests/**/package-lock.json

# Deno
tests/**/deno-cache

# Python
tests/**/runtime-env
tests/**/__pycache__

# Rust
tests/**/Cargo.lock
tests/**/debug
tests/**/target