.DS_Store
vendor
.phpunit.result.cache

# Node
tests/**/code.tar.gz
tests/**/node_modules
tests/**/package-lock.json

# Deno
tests/**/deno-cache

# Python
tests/**/runtime-env
tests/**/__pycache__

# Dart
tests/**/.dart_tool/
tests/**/.packages

# Ruby
tests/**/Gemfile.lock
tests/**/vendor

# PHP
tests/**/vendor
tests/**/composer.lock

# Swift
tests/**/Run
runtimes/cpp-17/.idea
runtimes/cpp-17/cmake-build-debug
runtimes/cpp-17/example/CMakeFiles
runtimes/cpp-17/example/CMakeCache.txt
runtimes/cpp-17/example/Makefile
runtimes/cpp-17/example/cmake_install.cmake
runtimes/cpp-17/example/code.tar.gz
runtimes/cpp-17/example/cpp_runtime
tests/cpp-17/CMakeFiles
tests/cpp-17/CMakeCache.txt
tests/cpp-17/Makefile
tests/cpp-17/cmake_install.cmake
tests/cpp-17/cpp_runtime
runtimes/*/.idea
