vendor
.phpunit.result.cache

tests/**/code.tar.gz

# Node
tests/**/node_modules
tests/**/package-lock.json

# Deno
tests/**/deno-cache

# Python
tests/**/runtime-env
tests/**/__pycache__

# Dart
tests/**/.dart_tool/
tests/**/.packages

# Ruby
tests/**/Gemfile.lock
tests/**/vendor

# PHP
tests/**/vendor
tests/**/composer.lock

# Swift
tests/**/Run

# Java/Kotlin
**runtime*.jar

# C++
**/cmake-build-debug
**/CMakeFiles
**/CMakeCache.txt
**/cpp_runtime

# .NET
tests/**/bin
tests/**/obj
tests/**/DotNetRuntime*
tests/**/web.config

**.idea
**.DS_Store
*.xcworkspacedata
tests/resources/functions/swift-5.5/Runtime
