version: '3'

services:
  open-runtimes-swift-5.8:
    container_name: open-runtimes-swift-5.8
    build:
      context: .
    ports: 
      - "3000:3000"
    environment:
      - OPEN_RUNTIMES_SECRET
      - OPEN_RUNTIMES_BUILD_COMMAND
      - OPEN_RUNTIMES_START_COMMAND
    volumes:
      - ./example/:/mnt/code:rw
    command: sh -c "sh helpers/build.sh \"$OPEN_RUNTIMES_BUILD_COMMAND\" && sh helpers/start.sh \"$OPEN_RUNTIMES_START_COMMAND\""