---
for (let i = 1; i <= 3; i++) {
	console.log("Concurrent Log " + i);
	await new Promise(resolve => setTimeout(resolve, 500 + Math.random() * 500));
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p>OK Response</p>
	</body>
</html>
