---
import { faker } from '@faker-js/faker';

const id = faker.string.uuid();

const msg = "My UUID is: " + id;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p>[UUID_START]{msg}[UUID_END]</p>
	</body>
</html>
