% {erl_first_files, ["plugins/my/src/my.erl"]}.

{erl_opts, [debug_info]}.

{deps, [
    {jsone,  "1.6.1"},   %% JSON Encode/Decode
    {cowboy, "2.9.0"}    %% HTTP Server
]}.

{plugins, [my, configure]}.
% {plugins_dir, "{{root_dir}}/plugins"}.
% {plugins, [{my, "./plugins/my"}]}.
% {plugins, [{my, {git_subdir, "file:///usr/code/server/plugins/my", {branch, "master"}, "plugins/my"}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [server]}
]}.

{relx, [
    {release, {server, "1.0.0"}, [server]},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]}
]}.

%% vim: ft=erlang
