[node]
entry = "tests.js"
versions = [
    "24",
    "23",
    "22",
    "21.0",
    "20.0",
    "19.0",
    "18.0",
    "16.0",
    "14.5",
    "24-mjs",
    "23-mjs",
    "22-mjs",
    "21.0-mjs",
    "20.0-mjs",
    "19.0-mjs",
    "18.0-mjs",
    "16.0-mjs",
    "14.5-mjs",
]
commands = { install = "npm install", start = "bash helpers/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && modclean --version"
test = "Serverless/Node.php"

[deno]
entry = "tests.ts"
versions = ["2.5", "2.0", "1.46", "1.40", "1.35", "1.24", "1.21"]
commands = { install = "deno cache tests.ts", start = "bash helpers/server.sh" }
formatter = { prepare = "echo \"Using native formatter\"", check = "deno fmt --check", write = "deno fmt" }
tools = "deno --version" # TODO: NPM, PNPM and Yarn dont work in Deno alpine currently: https://github.com/denoland/deno_docker/issues/373
test = "Serverless/Deno.php"

[python]
entry = "tests.py"
versions = ["3.14", "3.13", "3.12", "3.11", "3.10", "3.9", "3.8"]
commands = { install = "pip install --no-cache-dir -r requirements.txt", start = "bash helpers/server.sh" }
formatter = { prepare = "pip install ruff", check = "ruff format --check", write = "ruff format" }
tools = "python --version && pip --version && poetry --version"
test = "Serverless/Python.php"

[python-ml]
entry = "tests.py"
versions = ["3.13", "3.12", "3.11"]
commands = { install = "pip install --no-cache-dir -r requirements.txt", start = "bash helpers/server.sh" }
formatter = { prepare = "pip install ruff", check = "ruff format --check", write = "ruff format" }
tools = "python --version && pip --version && poetry --version"
test = "Serverless/PythonML.php"

[dart]
entry = "lib/tests.dart"
versions = [
    "3.10",
    "3.9",
    "3.8",
    "3.5",
    "3.3",
    "3.1",
    "3.0",
    "2.19",
    "2.18",
    "2.17",
    "2.16"
]
commands = { install = "dart pub get", start = "bash helpers/server.sh" }
formatter = { prepare = "echo \"Using native formatter\"", check = "dart format -o none --set-exit-if-changed .", write = "dart format ." }
tools = "dart --version"
test = "Serverless/Dart.php"

[flutter]
versions = ["3.38", "3.35", "3.32", "3.29", "3.27", "3.24"]
commands = { install = "flutter build web", start = "bash helpers/server.sh" }
formatter = { prepare = "echo \"Using native formatter\"", check = "dart format -o none --set-exit-if-changed .", write = "dart format ." }
test = "CSR/Flutter.php"
output = "./build/web"
tools = "dart --version && flutter --version"

[ruby]
entry = "tests.rb"
versions = ["3.4", "3.3", "3.2", "3.1", "3.0"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "gem install rubocop", check = "rubocop --lint .", write = "rubocop --fix-layout --lint ." }
tools = "ruby --version && gem --version"
test = "Serverless/Ruby.php"

[php]
entry = "tests.php"
versions = ["8.4", "8.3", "8.2", "8.1", "8.0"]
commands = { install = "composer update --no-interaction --ignore-platform-reqs --optimize-autoloader --prefer-dist --no-dev", start = "bash helpers/server.sh" }
formatter = { prepare = "composer require laravel/pint", check = "./vendor/bin/pint --test", write = "./vendor/bin/pint" }
tools = "php --version && composer --version"
test = "Serverless/PHP.php"

[swift]
entry = "Tests.swift"
versions = ["5.10", "5.9", "5.8"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "rm -rf SwiftFormat && git clone https://github.com/nicklockwood/SwiftFormat && cd SwiftFormat && swift build -c release && mv /mnt/code/SwiftFormat/.build/release/swiftformat /tmp/swiftformat && cd .. && rm -rf SwiftFormat", check = "/tmp/swiftformat . --lint --swiftversion 5.8", write = "/tmp/swiftformat . --verbose --swiftversion 5.8" }
tools = "swift --version"
test = "Serverless/Swift.php"

[kotlin]
entry = "Tests.kt"
versions = ["2.0", "1.9", "1.8", "1.6"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "apk add curl && curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.3.1/ktlint && chmod a+x ktlint && mv ktlint /usr/local/bin/", check = "ktlint .", write = "ktlint --format ." }
tools = "bash gradlew --version"
test = "Serverless/Kotlin.php"

[java]
entry = "Tests.java"
versions = ["22", "21.0", "18.0", "17.0", "11.0", "8.0"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "curl -sSLO https://github.com/google/google-java-format/releases/download/v1.22.0/google-java-format-1.22.0-all-deps.jar && chmod a+x google-java-format-1.22.0-all-deps.jar && mv google-java-format-1.22.0-all-deps.jar /tmp/google-java-format.jar", check = "find ./ -name \"*.java\" -type f -print | xargs java -jar /tmp/google-java-format.jar --set-exit-if-changed --dry-run", write = "find ./ -name \"*.java\" -type f -print | xargs java -jar /tmp/google-java-format.jar --replace" }
tools = "bash gradlew --version"
test = "Serverless/Java.php"

[cpp]
entry = "tests.cc"
versions = ["20", "17"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "apk add coreutils git clang-extra-tools", check = "find ./ -iname '*.h' -o -iname '*.cpp' | xargs clang-format -i --Werror --dry-run", write = "find ./ -iname '*.h' -o -iname '*.cpp' | xargs clang-format -i --Werror" }
tools = "cmake --version && make --version"
test = "Serverless/CPP.php"


[dotnet]
entry = "Tests.cs"
versions = ["8.0", "7.0", "6.0"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "dotnet tool install --global csharpier", check = "bash -c 'PATH=\\$PATH:/root/.dotnet/tools && /root/.dotnet/tools/csharpier check .'", write = "bash -c 'PATH=\\$PATH:/root/.dotnet/tools && /root/.dotnet/tools/csharpier format .'" }
tools = "dotnet --version"
test = "Serverless/Dotnet.php"

[go]
entry = "tests.go"
versions = ["1.25", "1.24", "1.23"]
commands = { install = "", start = "bash helpers/server.sh" }
formatter = { prepare = "echo \"Using native formatter\"", check = "if [ \"$(gofmt -s -l . | wc -l)\" -gt 0 ]; then echo 'Formatting errors:' && gofmt -s -l . && exit 1; fi", write = "gofmt -w -s ." }
tools = "go version"
test = "Serverless/Go.php"

[bun]
entry = "tests.ts"
versions = ["1.3", "1.2", "1.1", "1.0"]
commands = { install = "bun install", start = "bash helpers/server.sh" }
formatter = { prepare = "echo \"Using bunx biome formatter\"", check = "bunx @biomejs/biome format .", write = "bunx @biomejs/biome format --write ." }
tools = "bun --version && npm --version && npx --version && pnpm --version && yarn --version"
test = "Serverless/Bun.php"

[static]
versions = ["1"]
commands = { install = "bash build.sh", start = "bash helpers/server.sh" }
formatter = { prepare = "echo No formatter preparations.", check = "echo No formatter checker.", write = "echo No formatter writer." }
tools = "static-web-server --version"
test = "XStatic.php"

[astro]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/astro/env.sh && npm install && npm run build && bash /usr/local/server/helpers/astro/bundle.sh", start = "bash helpers/astro/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/Astro.php"
output = "./dist"

[sveltekit]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/sveltekit/env.sh && npm install && npm run build && bash /usr/local/server/helpers/sveltekit/bundle.sh", start = "bash helpers/sveltekit/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/SvelteKit.php"
output = "./build"

[next-js]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/next-js/env.sh && npm install && npm run build && bash /usr/local/server/helpers/next-js/bundle.sh", start = "bash helpers/next-js/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/NextJS.php"
output = "./.next"

[next-js-turbopack]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/next-js/env.sh && npm install && npm run build && bash /usr/local/server/helpers/next-js/bundle.sh", start = "bash helpers/next-js/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/NextJS.php"
output = "./.next"

[nuxt]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/nuxt/env.sh && npm install && npm run build && bash /usr/local/server/helpers/nuxt/bundle.sh", start = "bash helpers/nuxt/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/Nuxt.php"
output = "./.output"

[tanstack_start_nitro_v2]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/tanstack-start/env.sh && npm install && npm run build && bash /usr/local/server/helpers/tanstack-start/bundle.sh", start = "bash helpers/tanstack-start/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/TanstackStartNitro.php"
output = "./.output"

[tanstack_start_nitro_v3]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/tanstack-start/env.sh && npm install && npm run build && bash /usr/local/server/helpers/tanstack-start/bundle.sh", start = "bash helpers/tanstack-start/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/TanstackStartNitro.php"
output = "./.output"

[tanstack_start_native]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/tanstack-start/env.sh && npm install && npm run build && bash /usr/local/server/helpers/tanstack-start/bundle.sh", start = "bash helpers/tanstack-start/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/TanstackStart.php"
output = "./dist"

[remix]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/remix/env.sh && npm install && npm run build && bash /usr/local/server/helpers/remix/bundle.sh", start = "bash helpers/remix/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/Remix.php"
output = "./build"

[angular]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/angular/env.sh && npm install && npm run build && bash /usr/local/server/helpers/angular/bundle.sh", start = "bash helpers/angular/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/Angular.php"
output = "./dist/angular"

[analog]
runtime = { name = "node", version = "22" }
commands = { install = "source /usr/local/server/helpers/analog/env.sh && npm install && npm run build && bash /usr/local/server/helpers/analog/bundle.sh", start = "bash helpers/analog/server.sh" }
formatter = { prepare = "npm i -g @biomejs/biome", check = "biome format .", write = "biome format --write ." }
tools = "node --version && npm --version && npx --version && pnpm --version && yarn --version && bun --version && python --version && pip --version && make --version && git --version && g++ --version && gcc --version && modclean --version"
test = "SSR/Analog.php"
output = "./dist/analog"
